.ehr-content-wrapper {
    height: calc(100% - 62px);
    width: calc(100% - 224px);
    overflow: auto;
}

.ehr-content-wrapper.padding {
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.app-card {
    width: 20vw;
    max-width: 250px;
    overflow: hidden;
    height: 30vh;
    max-height: 250px;
    background-color: #f0f0f0 !important;
    margin: 0 1rem;
    transition: all .2s ease-in-out;
    height: 230px; margin: 1rem 1rem;
    min-width: 230px;
}

.app-card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.app-card .card-body {
    width: 100%;
    height: 100%;
}

.app-card .card-body .card-title {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 800;
    color: #000;
}

.app-card .card-body img {
    width: calc(100% - 32px);
}

.app-card .card-body hr {
    padding: .5rem 0 ;
}
