.launch-scenarios-wrapper {
  width: 100%;
  height: ~'calc(100% - 64px)';
  position: relative;
  .actions {
    position: absolute;
    right: 0;
    top: 10px;
  }
  .launch-scenario-list-row {
    .actions-wrapper {
      left: auto !important;
      width: 100px !important;
      right: -40px;
      & > * {
        display: inline-block!important;
        width: 20px!important;
        height: 20px!important;
        vertical-align: top;
        margin: 0 !important;
        padding: 0 !important;
        margin-right: 20px !important;
      }
    }
    div > div {
      padding-left: 15px !important;
    }
  }
  .loader-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.launch-scenario-dialog {
  & > div {
    padding: 0 20px;
    & > div {
      padding: 0 !important;
    }
  }
}

.launch-scenario-dialog-action {
  margin: .5rem 1rem .5rem 0;
}
.scenarios-list > div > div {
  padding: 0 !important;
}
.expanded-content {
  padding: 20px;
  background-color: whitesmoke;
  margin-left: 0 !important;
  .details-pair {
    margin: 0.5rem 0;
    &.smaller-label {
      & > label {
        width: 30%;
        line-height: 36px;
      }
      & > span {
        width: 70%;
      }
    }
    & > label {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      font-weight: bold;
      color: gray;
    }
    & > span {
      width: 50%;
      display: inline-block;
      word-wrap: break-word;
      font-weight: bold;
      &.center {
        text-align: center;
      }
      & > i.fa {
        margin-right: .4rem;
      }
      img {
        height: 240px;
      }
    }
  }
  .launch-scenario-dialog-detail {
    width: 48%;
    margin-top: 1rem;
    display: inline-block;
    &.margin {
      margin-left: 4%;
    }
    &.full {
      width: 100%;
    }
    h3 {
      margin: 0.5rem;
    }
    & > div > div {
      padding: 0 0.5rem 0.5rem 0.5rem;
    }
  }
}

.description-edit-button {
  display: inline-block;
}
