.launch-scenarios-wrapper {
  width: 100%;
  height: ~'calc(100% - 64px)';
  position: relative;
  .launch-scenario-list-row {
    @media (min-width: 1400px) {
      &.active {
        width: 105%;
        left: -2.5%;
        margin-top: 10px !important;
        top: -1px !important;
        font-size: 2rem !important;
        font-weight: 600 !important;
        text-decoration: underline !important;
        & + * {
          top: -1px;
          width: 105%;
          left: -2.5%;
          position: relative;
          margin-bottom: 10px;
          height: 580px !important;
          &::after {
            content: " ";
            display: inline-block;
            position: absolute;
            width: 100%;
            height: 2px;
            background: white;
          }
        }
      }
    }
    .actions-wrapper {
      left: auto !important;
      width: 100px !important;
      right: -40px;
      & > * {
        display: inline-block !important;
        width: 20px !important;
        height: 20px !important;
        vertical-align: top;
        margin: 0 !important;
        padding: 0 !important;
        margin-right: 20px !important;
      }
    }
    div > div {
      padding-left: 15px !important;
    }
  }
  .loader-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.launch-scenario-dialog {
  & > div {
    padding: 0 20px;
    & > div {
      padding: 0 !important;
    }
  }
  .close-button {
    margin-top: 0 !important;
  }
}

.launch-scenario-dialog-action {
  margin: .5rem 1rem .5rem 0;
}

.scenarios-list {
  padding: 0 !important;
  margin-top: 70px !important;
  & > div {
    box-shadow: 0 0 1px #c0c0c0;
    margin-bottom: 2px;
    & > div {
      padding: 0 !important;
    }
  }
}

.expanded-content {
  padding: 20px;
  margin-left: 0 !important;
  .details-pair {
    margin: 0.5rem 0;
    &.smaller-label {
      & > label {
        width: 30%;
        line-height: 36px;
      }
      & > span {
        width: 70%;
      }
    }
    & > label {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      font-weight: bold;
      color: gray;
    }
    & > span {
      width: 50%;
      display: inline-block;
      word-wrap: break-word;
      font-weight: bold;
      &.center {
        text-align: center;
      }
      & > i.fa {
        margin-right: .4rem;
      }
      img {
        height: 240px;
      }
    }
  }
  .launch-scenario-dialog-detail {
    width: 48%;
    margin-top: 1rem;
    display: inline-block;
    &.margin {
      margin-left: 4%;
    }
    &.full {
      width: 100%;
    }
    h3 {
      margin: 0.5rem;
    }
    & > div > div {
      padding: 0 0.5rem 0.5rem 0.5rem;
    }
  }
}

.description-edit-button {
  display: inline-block;
}
