@import "../../style/main.less";
@import "../../style/mixins.less";
@import "../../style/variables.less";

#app {
  height: 100%;
}

.container {
  .container();
}

.feedback-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 10000;
}

.loader-wrapper {
  padding: 16px;
}

.full-loader-wrapper {
  max-width: 600px;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-root {
  .display-flex();
  .flex-direction(column);

  height: 100%;
  width: 100%;

  .stage {
    .display-flex();
    .flex-grow(1);
    .flex-shrink(1);
    .flex-basis(100px);
    .flex-item-align(stretch);
    .flex-align(stretch);

    overflow-x: hidden;
    overflow-y: auto;
    // Disabled because it prevents scrolling for iOS devices
    // -webkit-overflow-scrolling: touch;

    min-width: 310px;
    margin-bottom: 0;

    display: flex;
    justify-content: center;

    position: relative;

    & > div:not(.hooks-wrapper) {
      //margin: 15px;
      width: 100%;
      //max-width: 1024px;
    }
  }

  // Basic flex grid -------------------------------------------------------------
  .row {
    .display-flex();
    .flex-direction(row);
    .flex-wrap(wrap);
    margin: 0 -@grid-gap / 2;
  }

  .domains-column {
    .display-flex();
    .flex-direction(column);
    .flex-wrap(wrap);
    margin: 0 -@grid-gap / 2;
  }

  .column {
    .display-flex();
    .flex-direction(column);
    .flex-shrink(1);
    .flex-wrap(wrap);

    margin: 0 @grid-gap / 2;

    &.col-1 {
      .flex-grow(1);
      .flex-basis(10%);
    }

    &.col-2 {
      .flex-grow(2);
      .flex-basis(20%);
    }

    &.col-3 {
      .flex-grow(3);
      .flex-basis(30%);
    }

    &.col-4 {
      .flex-grow(4);
      .flex-basis(40%);
    }

    &.col-5 {
      .flex-grow(5);
      .flex-basis(50%);
    }

    &.col-6 {
      .flex-grow(6);
      .flex-basis(60%);
    }

    &.col-7 {
      .flex-grow(7);
      .flex-basis(70%);
    }

    &.col-8 {
      .flex-grow(8);
      .flex-basis(80%);
    }

    &.col-9 {
      .flex-grow(9);
      .flex-basis(90%);
    }

    &.col-10 {
      .flex-grow(10);
      .flex-basis(100%);
    }

    @media screen and (max-width: @min-size-cutoff) {
      &.col-1,
      &.col-2,
      &.col-3,
      &.col-4,
      &.col-5,
      &.col-6,
      &.col-7,
      &.col-8,
      &.col-9,
      &.col-10 {
        .flex-grow(1);
        .flex-basis(100%) !important;
      }
    }
  }

  .printable {
    display: none;
  }

  @media print {
    @page {
      margin: 0.3in;
    }

    .no-print, .no-print * {
      display: none !important;
    }

    .printable {
      display: block !important;
      -webkit-print-color-adjust: exact;
    }
  }
}

.hooks-wrapper {
  .hook-card-wrapper {
    padding: 15px;
    margin: 10px;
    background: #fcfcfc;
    border: 2px solid #ddd;
    border-radius: 4px;
    border-left-width: 3px;

    &.info {
      border-left-color: rgb(0, 121, 190);

      .card-summary {
        color: rgb(0, 121, 190);
      }
    }

    &.warning {
      border-left-color: rgb(255, 174, 66);

      .card-summary {
        color: rgb(255, 174, 66);
      }
    }

    &.critical {
      border-left-color: rgb(204, 0, 0);

      .card-summary {
        color: rgb(204, 0, 0);
      }
    }

    .card-summary {
      font-size: 1.286rem;
      font-weight: 700;
    }

    .card-detail {
      margin-top: 20px;
    }

    .hook-suggestion-button:not(:disabled) {
      background-color: rgb(0, 121, 190);
      border-bottom-color: rgb(1, 99, 158);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-left-color: rgb(1, 99, 158);
      border-left-style: solid;
      border-left-width: 1px;
      border-right-color: rgb(1, 99, 158);
      border-right-style: solid;
      border-right-width: 1px;
      border-top-color: rgb(1, 99, 158);
      border-top-style: solid;
      border-top-width: 1px;
      box-sizing: border-box;
      color: rgb(255, 255, 255);
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      height: 30px;
      line-height: 20.006px;
      outline-color: rgb(255, 255, 255);
      padding: 4px 5px;
      text-align: center;
      text-decoration-color: rgb(255, 255, 255);
      margin: 2px 5px;
      border-radius: 5px;
    }

    img {
      max-width: 200px;
      padding-bottom: 10px;
    }
  }
}

.hooks-dialog {
  width: 800px;
  min-width: 35vw;
  max-width: inherit !important;

  .response-time {
    position: absolute;
    right: 20px;
    top: 86px;
    font-size: .8rem;
    color: green;

    &.slow {
      color: red;
    }
  }

  .paper-body > div:last-child {
    overflow: auto;
    height: ~'calc(100% - 48px)';
  }

  & > div:first-of-type {
    padding: 0 !important;
    height: 60vh;
    overflow: hidden;
  }

  .no-cards-message {
    text-align: center;
    width: 100%;
    padding-top: 100px;
  }

  .cards-tabs-wrapper {
    overflow: hidden;

    & > div:nth-child(2) {
      background-color: whitesmoke;
    }

    .object-content div {
      word-break: break-all;
    }
  }

  .react-json-view {
    padding: 10px;

    .variable-value {
      width: 100%;
      overflow: hidden;
      white-space: normal;
      word-break: break-all;
    }
  }

  .paper-card {
    height: 100%;

    .paper-body {
      height: ~'calc(100% - 68px)';
      padding: 0;
    }
  }

  .links {
    margin-top: 10px;
  }

  .app-warning {
    display: block;
    font-size: .8rem;
    color: #9C0227;
  }
}

.terms-dialog {
  max-width: inherit !important;

  .MuiDialog-paperScrollPaper {
    min-width: 800px;
  }

  & > div > div {
    padding: 0 !important;

    h3 {
      padding: 20px;
    }

    .paper-body {
      height: 63vh;
      overflow: auto;
      padding: 20px;
    }
  }

  .terms-dialog-actions {
    padding: 1rem !important;
    border-top: 1px solid whitesmoke;
  }
}
