.apps-screen-wrapper {
  .paper-card {
    width: 100%;
    float: left;
  }

  .app-card {
    width: 250px;
    float: left;
    margin: 20px;
    min-height: 255px;
  }

  .registered-app {
    width: 48%;
    float: right;
  }

  .card-actions-wrapper {
    display: flex;
    justify-content: space-between;
    & > * {
      margin-right: 0 !important;
    }
  }
}

.app-dialog {
  .paper-body {
    height: 85%;
    overflow: auto;
    box-sizing: border-box;
  }
  .paper-card {
    height: 100%;
  }
  .app-dialog-actions-wrapper {
    & > * {
      margin-left: 1rem;
    }
  }
  .toggle-wrapper {
    margin-top: 1.5rem;
    max-width: 50%;
  }
  & > div:first-child {
    height: 65vh;
  }
  & > div:nth-child(1) {
    padding: 0 !important;
  }
}
