.apps-page-wrapper {
  position: relative;
  width: 102%;
  padding-top: 1px;
  .filter-wrapper {
    position: absolute;
    top: -46px;
    .dummy-expander {
      width: 842px;
      display: inline-block;
      @media (max-width: 1262px) {
        width: 532px;
      }
      @media (max-width: 927px) {
        width: 300px;
      }
    }
  }
}

.apps-screen-wrapper {
  .screen-content {
    max-width: 1570px;
  }
  &.modal {
    max-height: 56vh;
    overflow: auto;
    width: 100%;
    padding-top: 0;
    .app-radio {
      width: auto !important;
      position: absolute !important;
      right: 0;
      top: 11px;
      svg {
        fill: white !important;
        color: white !important;
      }
    }
    .page-title-wrapper {
      display: none;
    }
    .app-card {
      .card-title {
        bottom: -35%;
      }
    }
  }
  &:not(.modal) {
    .app-card {
      &:hover, &.active {
        .card-title, .card-actions-wrapper {
          transition: all .5s;
          bottom: 0;
          .app-name {
            &:not(.long) {
              display: none;
            }
            &.long {
              display: inline-block;
            }
          }
        }
      }
    }
  }
  .app-card {
    width: 278px;
    height: 235px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 24px 32px 0 0;
    .explore-app-button-wrapper {
      padding: 9px 0 !important;
    }
    & > div {
      margin: 0 !important;
      padding: 0 !important;
      width: 100%;
      height: 100%;
    }
    .media-wrapper {
      height: 100%;
      overflow: hidden;
      & > div {
        height: 187px;
      }
      &.register {
        border-bottom: 2px solid whitesmoke;
        & > div {
          height: 100%;
          width: 100%;
          & > div {
            height: 100%;
            width: 100%;
            & > button {
              height: 100% !important;
              width: 100%;
              & > div {
                & > svg {
                  margin: 0 !important;
                }
              }
            }
          }
        }
      }
    }
    .card-title {
      position: absolute !important;
      padding-top: 5px !important;
      color: whitesmoke;
      width: 100%;
      height: 60%;
      bottom: -40%;
      box-sizing: border-box;
      transition: all .5s;
      .app-name {
        font-weight: 400;
        margin-top: 5px;
        margin-bottom: 14px;
        font-size: 20px;
        text-align: left;
        min-height: 3rem;
        &:not(.long) {
          max-width: 90%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        &.long {
          display: none;
          word-break: break-word;
        }
      }
      .app-description {
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .card-actions-wrapper {
      padding: 8px;
      position: absolute !important;
      width: 100%;
      left: 0;
      bottom: -22%;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      transition: all .5s;
      & > * {
        margin-right: 0 !important;
      }
      button {
        color: whitesmoke !important;
      }
    }
    &.small {
      width: 235px;
      height: 148px;
      min-height: 188px;
      &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.28) 0 1px 16px, rgba(0, 0, 0, 0.28) 0 8px 16px !important;
      }
    }
  }

  .registered-app {
    width: 48%;
    float: right;
  }
}

.created-app-dialog {
  padding: 0 !important;

  .paper-body {
    padding: 16px 24px;
  }
  .client-id {
    display: inline-block;
    font-size: 14px;
  }
  .client-details {
    padding: 3px 20px;
  }
}

.app-dialog {
  .paper-body {
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    &.auto {
      height: auto;
    }
  }
  .paper-card {
    height: 100%;
  }
  .app-dialog-actions-wrapper {
    & > * {
      margin-left: 1rem;
    }
  }
  .toggle-wrapper {
    margin-top: 1.5rem;
    max-width: 50%;
  }
  &:not(.auto) > div:first-child {
    border-bottom: 1px solid whitesmoke !important;
    height: 65vh;
  }
  & > div:nth-child(1) {
    padding: 0 !important;
  }
}

.launch-scenario-dialog {
  max-width: 900px !important;
  width: 80%;
}

.launch-app-dialog {
  & > div > div > div > div {
    padding: 0 !important;
    overflow: hidden !important;
    .page-content-wrapper {
      max-height: 74vh !important;
      overflow-y: auto !important;
    }
  }
  .close-button {
    height: 68px!important;
    width: 68px!important;
    position: absolute!important;
    right: 0;
  }
}