.delete-wrapper {
  width: 600px;
  margin: 20px;
  display: inline-block;
  float: left;
  h4 {
    width: 560px;
    background-color: rgb(232, 232, 232);
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
    color: #4a525d;
  }
  .button {
    margin: 12px;
  }
}
.paper-card.delete-dialog {
  h3 {
    font-size: 2rem;
    background-color: #f82219;
    color: white;
  }
}
.delete-sandbox-dialog {
  .cancel-button {
    margin-left: 1rem;
  }
}
