.create-dialog {
  .page-title {
    margin-left: 48px;
  }

  .page-content-wrapper {
    padding-left: 48px;
    box-sizing: border-box;
    padding-bottom: 32px;
    padding-right: 35px;
  }
}

.create-persona-dialog {
  padding: 0 !important;
  border-bottom: 1px solid whitesmoke !important;
  overflow-y: auto !important;
  max-width: 900px !important;
  min-width: 650px !important;

  .paper-card {
    box-shadow: none !important;
  }

  .close-button {
    position: absolute;
    right: 0;
    color: whitesmoke !important;

    &.dark {
      color: #757575 !important;
    }
  }

  //.create-scenario-content-wrapper .context-selection .persona-list-wrapper .close-button {
  //
  //}

  .page-title-wrapper {
    margin-top: 10px !important;
  }

  .paper-body {
    .persona-info-field {
      display: inline-block;
      width: 45%;
      margin: 30px 2.5% 10px 2.5%;

      label span {
        padding: 3px;
      }
    }
  }
}
