.query-browser-wrapper {
  padding: 0 2rem;
  height: 100%;
  .fhir-query-wrapper {
    min-width: 390px;
    max-width: 45vw;
    .input-wrapper {
      width: 73%;
    }
    & > * {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
  & > div:nth-child(2) {
    margin-right: 2rem;
  }
  .query-tabs {
    position: relative;
    overflow: hidden;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
    & > div {
      box-sizing: border-box;
      &:first-of-type {
        height: 55px;
        width: 100% !important;
        z-index: 1000;
        &:after {
          content: " ";
          display: block;
          border-bottom: 1px solid #f5f5f5;
          position: absolute;
          top: 53px;
          left: 0;
          width: 100%;
        }
        & > button {
          max-width: 125px;
          z-index: 1000;
          svg {
            vertical-align: middle;
            position: relative;
            top: -2px;
          }
        }
        & > div:nth-child(2) {
          max-width: 125px;
        }
      }
      &:nth-child(2) {
        max-width: 250px;
        position: relative;
        top: -56px;
        & > div {
          height: 56px !important;
          top: 0px !important;
          position: absolute !important;
          max-width: 125px;
          z-index: 10;
        }
      }
    }
    .tab.active {
      color: white !important;
      transition: all 2s;
    }
  }
  .query-tabs-container {
    min-height: 600px;
    box-sizing: border-box;
    & > div {
      & > * {
        &:first-child {
          padding-top: 16px;
          display: block;
        }
        &:last-child {
          padding-bottom: 10px;
          display: block;
        }
        padding: 0 16px;
      }
    }
  }
}

.result-wrapper {
  width: ~'calc(50% - 1rem)';
  display: inline-block;
  height: ~'calc(100vh - 236px)';
  box-sizing: border-box;
  overflow: hidden;
  min-width: 500px;
  .react-json-view {
    padding: 10px;
  }
  .result-list-item {
    & > div > div {
      padding: 5px 14px !important;
    }
  }
  .query-result-wrapper {
    .result-item {
      & > *:first-child {
        font-weight: bold;
        display: inline-block;
        margin-right: 5px;
        width: 5.5rem;
      }
    }
  }
  .title {
    display: inline-block;
    margin-right: 2rem;
  }
  .query-size {
    float: right;
    & > * {
      color: darkgray;
      .number {
        color: #000;
      }
    }
  }
  & > div:not(.import-button) {
    height: 100%;
    & > div {
      height: ~'calc(100vh - 290px)' !important;
      overflow: auto;
      border: 1px solid darkgray;
      border-radius: 5px;
    }
    & > h2 {
      margin: 0;
      padding: 0;
      color: darkgray;
    }
  }
}

.paper-body {
  .result-wrapper {
    width: 100% !important;
    & > div {
      & > div {
        height: 94%;
      }
    }
  }
}

.query-result-dialog {
  margin: 0;
  padding: 0;
  .close-button {
    position: absolute !important;
    top: 0;
    right: 0;
  }
  & > * {
    margin: 0 !important;
    padding: 0 !important;
  }
}
