.tree-browser {
  margin: 0;
  height: 100%;

  .tree-input-wrapper {
    height: ~'calc(100% - 35px)';
    overflow-x: hidden;
    overflow-y: auto;
  }

  .tree-list {
    text-align: left;

    .radio {
      top: 12px !important;
      right: 15px !important;
      width: 24px !important;
    }

    .list-item {
      padding-left: 20px !important;
      position: relative;

      &.active {
        background-color: rgba(0, 0, 0, .1) !important;
      }

      & > div > div {
        padding-left: 56px !important;

        button {
          position: absolute;
          left: -20px;
        }

        svg {
          left: 10px !important;
        }
      }
    }
  }
}

.patient-select-dialog {
  & > div > div {
    padding: 0 !important;
  }

  .page-title-wrapper.left {
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    margin: 22px 24px;
  }

  .page-content-wrapper {
    max-height: 74vh !important;
    overflow-y: auto !important;
  }

  .close-button {
    height: 68px !important;
    width: 68px !important;
    position: absolute !important;
    right: 0;
  }
}
