.footer-wrapper {
  left: 0;
  right: 0;
  margin: 0;
  z-index: 1300;
  text-align: center;
  font-size: 12px;
  position: absolute;
  background-color: #e8e8e8;
  .links-wrapper {
    display: flex;
    justify-content: space-evenly;
    line-height: 25px;
    padding-top: 10px;
    margin-bottom: 10px;
    color: #005778;
    a {
      text-decoration: none;
      color: #005778;
    }
    & > div {
      text-align: left;
      & > *:first-child {
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 8px;
      }
    }
  }
  .footer-text {
    line-height: 40px;
    & > p {
      padding-top: 5px;
      a {
        text-decoration: none;
        color: #005778;
        font-weight: 400;
        font-size: 14px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.terms-dialog {
  max-width: inherit !important;
  & > div > div {
    padding: 0 !important;
    .paper-body {
      height: 63vh;
      overflow: auto;
    }
  }
  .terms-dialog-actions {
    padding: 1rem !important;
    border-top: 1px solid whitesmoke;
  }
}
