.validation-wrapper {
  position: relative;
  height: 100%;
  text-align: center;

  .validation-title {
    display: inline-block;
    width: 150px;
    text-align: center;
    background-color: whitesmoke;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
    height: 30px;
    position: absolute;
    top: 0;
    left: ~'calc(50% - 75px)';

    span {
      line-height: 30px !important;
    }

    button {
      padding: 0 !important;
      width: 20px !important;
      height: 20px !important;
      position: absolute !important;
      right: 10px !important;
    }
  }

  .validation-content {
    padding: 80px 16px 16px 16px;
  }

  .validate-button {
    position: absolute;
    right: 20px;
    top: 80px;

    &.modal {
      top: initial;
      bottom: 18px;
    }
  }

  .validation-tabs {
    height: 100%;
    position: relative;

    //button.manual-input {
    //  height: 38px;
    //  top: 8px;
    //}

    &.modal {
      width: 100%;
      left: 0;
      margin: 0;
    }

    & > div {
      &:first-of-type, &:nth-child(2) {
        position: absolute;
        bottom: 0;
      }

      &:first-of-type {
        z-index: 200;
        background-color: transparent !important;

        .active {
          span {
            color: white;
            font-size: 12px;
          }

          svg {
            fill: white !important;
            width: 12px;
            height: 12px;
          }
        }
      }

      &:nth-child(2) {
        z-index: 10;
        height: 38px;

        & > * {
          height: 38px !important;
        }
      }
    }
  }

  .validation-cards {
    text-align: center;
    padding-top: 40px;

    & > div {
      width: 80px;
      height: 80px;
      display: inline-block;
      text-align: center;
      margin: 10px;
      cursor: pointer;

      svg {
        color: rgb(14, 86, 118) !important;
      }
    }
  }

  .tab-title {
    text-align: center;
  }

  .tree-input-wrapper {
    text-align: center;
  }

  .validation-tabs-container {
    max-height: ~'calc(100vh - 220px)';
    overflow: auto;
    padding: 40px 20px 0 20px;
    box-sizing: border-box;
  }
}
