@import "./variables.less";
@import "./mixins.less";
@import "./font-awesome/icons";
@import "./font-awesome/variables";

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
}

#app {
  min-width: 1024px;
  min-height: 768px;
  overflow: hidden;
  position: relative;
}

:global(.screen-title) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  overflow: hidden;
  background-color: #f5f5f5;
  .actions {
    position: absolute;
    right: 30px;
    top: 7px;
  }
  .filters {
    display: inline-block;
    .chip {
      padding-right: 20px !important;
      &.active {
        padding-right: 0 !important;
        span svg {
          display: none !important;
        }
      }
      span svg {
        position: absolute;
        top: 5px;
      }
      svg {
        z-index: 1000;
      }
    }
  }
  h1 {
    display: inline-block;
    color: #565656;
    padding-left: 30px;
    margin: 14px;
    font-size: 22px;
    font-weight: 300;
  }
}

:global(.label-value) {
  margin: 1rem 0;
  color: #000;
  padding-top: 1.2rem;
  position: relative;
  & > span {
    margin-right: 1rem;
    &:first-of-type {
      opacity: .5;
      position: absolute;
      top: 0;
      font-size: 0.9rem;
    }
  }
}

:global(.screen-content) {
  margin-top: 48px;
  max-width: 1024px;
  padding-left: ~'calc((100% - 1024px)/2)';
}

:global(.tab) {
  //border-top-left-radius: 20px;
  //border-top-right-radius: 20px;
  &.active {
    background-color: rgba(245, 245, 245, 1) !important;
  }
}

:global(.paper-card) {
  position: relative;
  & > h3 {
    width: 100%;
    background-color: #005778;
    color: whitesmoke;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
  }
  .actions {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    padding: 13px;
    & > *:not(:first-child) {
      margin-left: 1rem;
    }
    .actions-label {
      display: inline;
    }
  }
}

:global(.paper-body) {
  padding: 0 20px 20px;
}

:global(.subscript) {
  font-size: 0.8rem;
  color: darkgray;
}

:global(.Answer) {
  background-color: #e8e8e8;
  color: #4a525d;
  padding: 10px;
  margin: 0 !important;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

:global(.close-button) {
  float: right;
  margin: 0 !important;
  color: whitesmoke;
  z-index: 100;
}
