.sandbox-details-wrapper {
  min-width: 400px;
  max-width: 45%;
  margin: 20px;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  h4 {
    width: 610px;
    background-color: rgb(232, 232, 232);
    padding: 20px;
    margin-top: 0;
    color: #4a525d
  }
  form {
    padding: 0 20px 20px 20px;
    input[disabled] {
      color: rgba(0, 0, 0, 0.7) !important;
    }
  }
  .details-button {
    margin: 12px 12px 0px 0px;
  }
}
