.data-manager-wrapper {
  margin: 0!important;
  max-width: 100%!important;
  .data-tabs > div:first-of-type {
    height: 55px;
    border-bottom: 2px solid whitesmoke;
    width: 100% !important;
    padding: 0 4px;
    & > button {
      max-width: 125px;
    }
    & > div:nth-child(2) {
      max-width: 125px;
    }
  }
  .data-tabs > div:nth-child(2) {
    max-width: 375px;
    padding: 0 4px;
    & > div {
      max-width: 125px;
    }
  }
  .data-tabs-container {
    padding-right: 10px;
    padding-bottom: 20px;
  }
}
