.header-wrapper {
    float: left;
    width: 100%;
    height: 60px;
    background: linear-gradient(#3EA8E7, #0C76B4);
    border-style: solid;
    border-width: 1px;
}

.header-persona-info-wrapper {
    width: calc(100% - 60px);
    overflow: hidden;
    height: 60px;
}

.header-persona-wrapper, .header-patient-wrapper {
    display: inline-block;
}

.header-patient-wrapper {
    width: 70%;
}

.header-persona-wrapper {
    width: 30%;
}

.patient-icon-wrapper, .persona-icon-wrapper {
    float: left;
    width: 60px;
    height: 60px;
    position: relative;
}

.persona-icon-wrapper {
    float: right;
}

.header-persona-wrapper > div:first-of-type:hover,
.header-patient-wrapper > div:first-of-type:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.15);
}

.header-wrapper .header-patient-info-row {
    height: 30px;
    line-height: 30px;
}

.header-wrapper .header-persona-info-row {
    height: 60px;
    line-height: 60px;
}

.header-wrapper .header-patient-info-row.no-selection {
    height: 60px;
    line-height: 60px;
}

.header-wrapper .header-persona-info-row.no-selection {
    height: 60px;
    line-height: 60px;
}

.header-patient-info > span:first-of-type {
    color: lightgray;
    text-shadow: 0 1px 1px #000;
    margin-right: 0.5rem;
}

.header-persona-info > span:first-of-type {
    color: lightgray;
    text-shadow: 0 1px 1px #000;
}

.header-patient-info > span:last-of-type {
    color: white;
    font-weight: bold;
    text-shadow: 0 1px 1px #000;
}

.header-persona-info > span:last-of-type {
    color: white;
    font-weight: bold;
    text-shadow: 0 1px 1px #000;
}

.header-patient-info {
    float: left;
    margin-left: 1rem;
    width: 200px;
}

.header-persona-info {
    float: right;
    margin-right: 1rem;
}
