.create-sandbox-wrapper {
  height: 100%;
  overflow: hidden;
  .subscript {
    font-size: 0.8rem;
    color: darkgray;
  }
  .paper-card {
    height: 100%;
    overflow: hidden;
    .paper-body {
      height: ~'calc(100% - 82px)';
      overflow: auto;
      .checkboxes {
        & > * {
          margin: 0;
        }
      }
    }
  }
  .checkbox {
    margin-bottom: 16px;
  }
  .button {
    margin: 16px 12px 0px 0px;
  }
}
