.create-sandbox-wrapper {
  height: 100%;
  overflow: hidden;
  border-radius: 0 !important;
  .paper-card {
    height: 100%;
    overflow: hidden;
    border-radius: 0 !important;
    .paper-body {
      height: ~'calc(100% - 82px)';
      overflow: auto;
      .checkboxes {
        & > * {
          margin: 0;
        }
      }
    }
  }
  .checkbox {
    margin-bottom: 16px;
  }
  .button {
    margin: 16px 12px 0px 0px;
  }
  .fhirVersion div div {
    padding-left: 0 !important;
    margin: -1px 24px -1px 0 !important;
  }
}

.create-sandbox-dialog {
  border-radius: 0 !important;
  height: 63vh;
  overflow: hidden;
  & > div:first-of-type {
    height: 91%;
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: 1px solid whitesmoke !important;
  }
  & > div:not(:first-of-type) {
    & > * {
      margin-right: 10px;
    }
  }
  .paper-card {
    border-radius: 0 !important;
  }
}
