.profiles-tab-wrapper {
  height: 100%;
  .card {
    width: 95%;
    height: 37%;
    min-height: 280px;
    margin: 10px 2.5%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    &.info {
      height: 53%;
      overflow-y: auto;
    }
    .card-title {
      background-color: whitesmoke;
      text-align: center;
    }
    .card-content {
      padding: 10px;
    }
  }
  .profile-list-wrapper {
    box-sizing: border-box;
    & > div {
      height: 100%;
      overflow: hidden;
      .card-content {
        height: ~'calc(100% - 51px)';
        overflow: hidden;
        box-sizing: border-box;
      }
    }

    .file-load-wrapper {
      display: inline-block;
      width: 15%;
      vertical-align: top;
      height: 100%;
      padding-top: 6.5%;
      text-align: center;
      border-right: 1px solid whitesmoke;
      box-sizing: border-box;
    }

    .loaded-profiles-wrapper {
      display: inline-block;
      width: 85%;
      vertical-align: top;
      height: 100%;
      overflow: auto;
      box-sizing: border-box;
      padding-left: 10px;
    }

    span.profile-list-item > div {
      & > span {
        opacity: 0;
      }

      & > div {
        border: 1px solid whitesmoke;
        margin-bottom: 2px;

        &:hover {
          background-color: whitesmoke;
        }
      }
    }
  }
}
