.profile-selection {
  width: 50%;
  display: inline-block;
  padding-top: 10px;

  .loader {
    padding-top: 50px;
  }

  .profile-list {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

    .own-button {
      position: absolute;
      right: 16px;
      top: 5px;
    }

    & > ul > li:first-child {
      background-color: whitesmoke;
    }

    .profile {
      text-align: left;
    }
  }
}