.FormBox{
    color: rgba(0, 0, 0, 0.870588);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 30px;
}

.FormBox h3 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.FormBox hr {
    margin: -1px 0px 0px;
    height: 1px;
    border: none;
    background-color: rgb(224, 224, 224);
}

.FormHr1 {
    border-bottom-width: 1px;
    border-style: none none solid;
    border-color: rgb(224, 224, 224);
    bottom: 8px;
    box-sizing: content-box;
    margin: 0px;
    position: absolute;
    width: 100%;
}

.FormHr2 {
    border-bottom-width: 2px;
    border-style: none none solid;
    border-color: rgb(0, 188, 212);
    bottom: 8px;
    box-sizing: content-box;
    margin: 0px;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.FormInputPair {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: 72px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    font-family: Roboto, sans-serif;
    transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}



.FormInputPair label {
    position: absolute;
    line-height: 22px;
    top: 38px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    z-index: 1;
    cursor: text;
    transform: scale(1) translate(0px, 0px);
    transform-origin: left top;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.298039);
}

.Input {
    position: absolute;
    opacity: 0;
    color: rgba(0, 0, 0, 0.298039);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    bottom: 12px;
}

.Dropdown {
    display: block;
    font-size: inherit;
    height: 100%;
    font-family: inherit;
    outline: none;
    position: relative;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    padding: 0px;
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.870588);
    cursor: initial;
    font-style: inherit;
    font-variant-caps: inherit;
    font-weight: inherit;
    line-height: inherit;
    box-sizing: border-box;
    margin-top: 14px;
}

.Input input {
    padding: 0px;
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.870588);
    cursor: initial;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-variant-caps: inherit;
    font-weight: inherit;
    line-height: inherit;
    height: 100%;
    box-sizing: border-box;
    margin-top: 14px;
}