.start-page-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 2rem 5rem 0 5rem;
  box-sizing: border-box;
  .paper-card {
    .paper-body {
      .paper-button, .fa.fa-check {
        margin-right: 10px;
      }
    }
  }
}
