.profiles-wrapper.page-content-wrapper {
  text-align: center;

  .page-wrapper {
    display: inline-block;
    text-align: left;
    position: relative;
    height: 100%;

    .page-content-wrapper {
      height: ~'calc(100% - 90px)';
      box-sizing: border-box;
    }
  }
}
