.import-wrapper {
  padding: 2rem;
  .import-button {
    position: absolute;
    right: 0;
    top: 0;
  }
  .result-wrapper {
    width: ~'calc(50% - 1rem)';
    display: inline-block;
    height: ~'calc(100vh - 190px)';
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    .import-field-wrapper {
      width: 99.5% !important;
      & > div {
        overflow: hidden;
        & > textarea:nth-child(2) {
          height: 100% !important;
          padding: 10px !important;
          margin: 0 !important;
        }
      }
    }
    & > div {
      box-shadow: none !important;
      height: 95%;
      & > h2 {
        margin: 0;
        padding: 0;
        color: darkgray;
      }
      & > h4 {
        color: darkgray;
        margin: 0;
        font-size: 0.8rem;
      }
    }
  }
  & > div:nth-child(1) {
    margin-right: 2rem;
  }
}
