.create-sandbox-button {
  float: right;
  margin-bottom: 15px;
  background-color: #0186d5 !important;
  & > button {
    background-color: #0186d5 !important;
  }
}

.loader-wrapper {
  width: 100%;
  height: 200px;
  text-align: center;
  margin-top: 10px;
}
