.create-sandbox-button {
  float: right;
  margin-bottom: 15px;
  transform: translate(0, -18%);
}

.loader-wrapper {
  width: 100%;
  height: 200px;
  text-align: center;
  margin-top: 10px;
}

.sandboxes-wrapper {
  width: 60%;
  margin-left: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
  tr {
    &:hover {
      cursor: pointer;
    }
  }
}
