.user-management-wrapper {
  margin: 0!important;
  max-width: 100%!important;
  padding-left: 10px;
  .user-tabs > div:not(.user-tabs-container) {
    width: 45% !important;
  }
  .user-tabs-container {
    padding-right: 10px;
  }
}
