.user-management-wrapper {
  margin: 0 !important;
  max-width: 100% !important;
  .user-tabs {
    .screen-content {
      margin-top: 10px;
    }
    & > div:first-of-type {
      border-bottom: 2px solid whitesmoke;
      width: 100% !important;
      & > button {
        max-width: 125px;
      }
    }
  }
  .user-tabs > div:nth-child(2) {
    display: none !important;
  }
  .user-tabs-container {
    padding-right: 10px;
  }
}

.sandbox-users-list {
  .anchor {
    position: relative;
    right: -20px;
  }
}

.invitations-modal {
  & > div:first-of-type {
    padding: 0 !important;
  }
}

.invite-buttons-wrapper {
  overflow: visible !important;
  text-align: right !important;
}

.screen-content-invites-modal {
  padding: 47px 0 20px 0;
  & > div > div:nth-child(2) {
    overflow: hidden !important;
    padding-bottom: 20px;
  }
}

.invitations-table-header,
.users-table-header {
  height: 32px;
  position: relative;
  top: -2px;
  th, tr {
    height: 32px !important;
  }
}

.screen-content-invite-modal {
  padding: 50px 16px 20px 16px;
}

.user-remove-dialog-actions-wrapper {
  text-align: left !important;
  padding-left: 20px !important;
}

.invites-dialog-actions-wrapper {
  padding: 16px !important;
}

.screen-content-delete-modal {
  padding-top: 50px;
}

.users-wrapper {
  text-align: center;
  & > div {
    min-width: 700px;
    max-width: 1000px;
    width: 80%;
    display: inline-block;
  }
  .invitation-buttons-wrapper {
    text-align: right;
    padding-bottom: 16px;
    & > * {
      margin-left: 16px;
    }
  }
}

.screen-title.invitations {
  h1 {
    padding-left: 16px;
  }
}