.dashboard-wrapper {
  max-width: 1024px;
  margin-top: 32px;
}

.sandboxes-min-height {
  min-height: ~'calc(100vh - 331px)';
}

.invitation-dialog {
  padding: 0 !important;

  .bold {
    font-weight: bold;
  }

  .paper-body {
    padding: 20px !important;
  }
}

.paper-body-invitation {
  padding: 20px;
}

.sandbox-invitation-wrapper {
  .paper-card {
    box-shadow: none;
  }
}