.dashboard-wrapper {
  max-width: 1024px;
  margin-top: 15px;
}

.create-sandbox-dialog {
  height: 65vh;
  overflow: hidden;
  & > div {
    margin: 0;
    padding: 0 !important;
    height: 100%;
    overflow: hidden;
  }
}
