.help-wrapper {
  position: absolute;
  right: 88px;
  .anchor {
    position: relative;
    right: -32px;
    top: -26px;
  }
  a {
    display: block;
    border-radius: 3px;
    height: 24px;
    opacity: .75;
    &:hover {
      opacity: 1;
    }
    &.active {
      background: rgba(0, 0, 0, 0.1);
      svg {
        fill: #A5A5A5 !important;
      }
    }
  }
  .right {
    float: right;
    color: whitesmoke;
    &:hover {
      cursor: pointer;
    }
  }
  .left {
    float: left;
  }
}

.help-menu {
  .help-menu-item {
    line-height: 25px !important;
    min-width: 140px !important;
    min-height: inherit !important;
    &.disabled {
      font-size: 0.8rem !important;
    }
  }
}
