.persona-list-row:hover {
  cursor: pointer;
}

.personas-loader-wrapper {
  vertical-align: middle;
  align-items: center;
  text-align: center;
  padding-top: 17%;
}

.persona-list-pagination-wrapper {
  text-align: center !important;
  margin-bottom: 10px;
  & > * {
    &:not(:first-child) {
      margin-left: 1rem;
    }
    display: inline-block;
    min-width: 88px;
  }
}

.persona-modal {
  .actions {
    position: absolute;
    right: 140px;
  }
}

.persona-list-wrapper {
  max-height: 63vh;
  overflow: auto;
}

.persona-list {
  display: inline-block;
  width: 33%;
  overflow: hidden;
  vertical-align: top;
  .persona-list-item {
    .persona-list-details {
      display: inline-block;
      padding-left: 15px;
      box-sizing: border-box;
      max-width: calc(100% - 60px);
    }
    .persona-info {
      font-size: 0.8rem;
    }
    & > div > div > * {
      vertical-align: middle;
    }
  }
  .gender-wrapper {
    display: inline-block;
    width: 40px;
    height: 40px;
    div {
      span {
        width: 40px !important;
        height: 40px !important;
      }
    }
  }
  .name-wrapper {
    display: inline-block;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .fa {
    font-size: 2rem;
    font-weight: 600;
  }
}
