.persona-list-row:hover {
  cursor: pointer;
}

.personas-loader-wrapper {
  vertical-align: middle;
  align-items: center;
  text-align: center;
  padding-top: 17%;
}

.persona-list-pagination-wrapper {
  text-align: center !important;
  & > * {
    &:not(:first-child) {
      margin-left: 1rem;
    }
    display: inline-block;
    min-width: 88px;
  }
}
